//output:index.html, pretty:true
doctype html
html
  head
    title BIRUANG
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css')
  body
    header.header-fix
      div.header
        div.header-contact
          h1.logo BIRUANG
          div.header-contact-block
            p.header-contact-block__title.phone +371 282 20 760
            p.header-contact-block__title.mail eony321v@gmail.com
            div.header-contact-block-price-form
              p.header-contact-block-price-form__title.cart $ 99.54
              p.header-contact-block-price-form__title.check-btn Checkout
        div.header-separator
        ul.header-nav
          li.header-nav__item.header-nav-active home            
          li.header-nav__item MEN 
          li.header-nav__item WOMEN
          li.header-nav__item KIDS
          li.header-nav__item SALE
          li.header-nav__item ABOUT US
          li.header-nav__item SUPPORT
      div.header-scroller-fix
        div.header-scroller
          h1.header-scroller__title RIGHT IS PINK. LEFT IS BLUE
          p.header-scroller__description Inspired by Brasil’s bold colors and matching up to football’s on-pitch playmakers, these kicks are ready to stand out.
          a.header-scroller__button SHOP BRASIL
        div.header-scroller
          h1.header-scroller__title RIGHT IS PINK. LEFT IS BLUE
          p.header-scroller__description Inspired by Brasil’s bold colors and matching up to football’s on-pitch playmakers, these kicks are ready to stand out.
          a.header-scroller__button SHOP BRASIL
    div.product-fix
      div.product#product-menu
    div.popular-product-fix
      h1.popular-product-title POPULAR PRODUCTS
      div.popular-product#popular-product
    div.adress-fix
      div.adress
        div.Free-Psd
          h1.adress-title
            strong.adress-title_strong Biruang 
            | Free PSD
          h5.adress-description
            |NEQUE PORRO  
            br
            |ERIKE SUPERUS DA
            br
            |DOLOREM IPSUM
            br
            |GOOD LUCK
          div.social-nav
            a(href="")
              i.fa.fa-facebook(aria-hidden='true')
            a(href="")
              i.fa.fa-twitter(aria-hidden='true')
            a(href="")
              i.fa.fa-google(aria-hidden='true')
            a(href="")
              i.fa.fa-vimeo(aria-hidden='true')
            a(href="")
              i.fa.fa-wifi(aria-hidden='true')
        div.adress__info-container
          p.adress__info-description
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum lectus 
            |sit amet varius pulvinar. Proin vitae dui tincidunt nibh facilisis pellentesque. 
            |Fusce tortor turpis, facilisis ut condimentum eu, sagittis at est.
          p.adress__info-description
            |Praesent egestas posuere urna a egestas. Maecenas facilisis orci vitae ante 
            |tempor accumsan. Aenean aliquam justo ac sagittis vehicula. Nam mattis 
            |pretium odio sit amet vulputate.
          p.adress__info-description
            |Quisque non lobortis orci. Morbi augue mauris, ultrices at fermentum ac, 
            |consequat vitae magna. Pellentesque non cursus mi, eu cursus nunc. Nullam
            | et odio tristique, volutpat urna vitae, dignissim orci. Fusce eu nulla urna.
            |This template was created by Erik Padamans.
        img(src="img/map.png")
    div.subscribe-fix
      div.subscribe
        h1.subscribe__title
          strong Sign up 
          |for exclusive sales and product news
        form.subscribe-form
          input.subscribe-form__input(placeholder="eony321v@gmail.com")
          button.subscribe-form__button sign up
    footer.footer-fix
      div.footer
        div.footer-our-stories
          h1.footer-title Our Stores
          p.footer-description 
            |Feel free to visit our stores or contact us.
            br
            |1401 South Grand Avenue 
            br
            |Los Angeles, CA 90015 
            br
            |(213) 748-2411
          p.footer-description 
            |100 Fairview Drive 
            br
            |Franklin, VA 23851 
            br
            |(757) 569-6100 
          div.social-nav
            a(href="")
              i.fa.fa-facebook(aria-hidden='true')
            a(href="")
              i.fa.fa-twitter(aria-hidden='true')
            a(href="")
              i.fa.fa-google(aria-hidden='true')
            a(href="")
              i.fa.fa-vimeo(aria-hidden='true')
            a(href="")
              i.fa.fa-wifi(aria-hidden='true')
        div.footer-blog-post
          h1.footer-title Blog posts
          p.footer-description 
            strong Justin Bieber confirmed that he is gay.
            br
            |Lorem ipsum dolor sit amet, consectetur
            br
            |adipiscing elit. Donec sed auctor elit.
          p.footer-description 
            strong New sexy sport clothes are here!
            br
            |Lorem ipsum dolor sit amet, consectetur
            br
            |adipiscing elit. Donec sed auctor elit.
          p.footer-description 
            strong Summer sales are coming!
            br
            |Lorem ipsum dolor sit amet, consectetur
            br
            |adipiscing elit. Donec sed auctor elit.
        div.footer-support
          h1.footer-title Support
          p.footer-description.footer-desc-sup
            br
            a(href="") Terms & Conditions
            br
            a(href="") FAQ
            br
            a(href="") Payment
            br
            a(href="") Refunds
            br
            a(href="") Track Order
            br
            a(href="") Services
            br
            a(href="") Privacy & Security
            br
            a(href="") Careers
            br
            a(href="") Press
            br
            a(href="") Corporate Information
        div
          h1.footer-title 
          p.footer-description.footer-desc-sup
            br
            a(href="") Sizing
            br
            a(href="") Ordering
            br
            a(href="") Shipping
            br
            a(href="") Return Policy
            br
            a(href="") Affiliates
            br
            a(href="") Find A Store 
            br
            a(href="") Site Map
            br
            a(href="") Sign Up & Save
        form.footer-form
          h1.footer-title Contact us
          input.footer-form__inp.footer-inputs(placeholder="your e-mail...")
          textarea.footer-form__text.footer-inputs(placeholder="your text...")
          button.footer-form__button Send MESSAGE
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='slick/slick.min.js')
    script(src='js/react/react.js')
    script(src='js/react/react-dom.js')
    script(src='js/react/browser.min.js')
    script(type="text/babel" src='js/app.js')
